// MIXINS

@mixin hero-shadow {
  text-shadow: $black 0.2rem 0.2rem 0.2rem;
}

@mixin modal-header-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  padding: 0rem 1rem;
  background-color: $modal;
  font-weight: 600;
  font-size: 1.2rem;
}