// VARIABLES


// FONTS

// Regular font family
/// @type List
$text-font-stack: 'Poppins', sans-serif !default;


// COLORS

// Main brand color
/// @type Color
$main-grey: #3E4E5C !default;

// Hover color
/// @type Color
$hover: #9BC4E8 !default;

// Modal color
/// @type Color
$modal: #718EA8 !default;

// Modal color background
/// @type Color
$modal-background: #D5E6F5 !default;

// Modal text
/// @type Color
$modal-text: #2c3842 !default;

// White : text, a
/// @type Color
$white: #fff !default;

// Black : main background
/// @type Color
$black: #000 !default;


// BREAKPOINTS

/// @prop {String} keys
/// @prop {Map} values
$breakpoints: (
  'mobile': 575.98px,
  'tablet': 767.98px,
  'laptop': 991.98px,
  'xl-desktop': 1199.98px
) !default;