/* HERO */

#hero {
  position: relative;
  top: 20vh;
  height: 80vh;

  .movie_summary {
    position: absolute;
    top: 3rem;
    left: 3rem;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-weight: 600;
      font-size: 3.5rem;
      @include hero-shadow;

      @include xl-desktop{
        text-transform: uppercase;
        font-size: 4rem;
      }
    }
    .movie_buttons {
      display: flex;
      align-items: center;
      padding: 1rem 0 2rem 0;
    }
    &__long_description {
      @include hero-shadow;

      @include xl-desktop{
        font-size: 1.5rem;
      }
    }
  }

  .movie_card {
    overflow: hidden;

    img {
      opacity: 0.3;
      z-index: -1;
    }
  }
}