/* HERO */

#hero {
  position: relative;
  top: 0;
  height: 100vh;

  .movie_summary {
    position: absolute;
    top: 12vh;
    left: 3rem;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-weight: 600;
      font-size: 5rem;
      @include hero-shadow;

      @include laptop{
        font-size: 4rem;
      }
      @include tablet{
        font-size: 3.5rem;
      }
      @include landscape-mobile{
        font-size: 2.5rem;
      }
    }
    .movie_buttons {
      display: flex;
      padding: 1rem 0 2rem 0;
    }
    &__long_description {
      @include hero-shadow;
      font-size: 1.5rem;

      @include laptop{
        font-size: 1.2rem;
      }
      @include tablet{
        font-size: 1rem;
      }
      @include landscape-mobile{
        padding: 0 0;
        font-size: .9rem;
      }
    }
  }

  .movie_card {
    overflow: hidden;

    img {
      opacity: 0.3;
      z-index: -1;
    }
  }
}