/* NAVIGATION */

// NAV MENU
.header__nav__menu {
  display: flex;
  text-transform: uppercase;

  @include laptop{
    text-transform: capitalize;
  }
  @include landscape-mobile{
    display: none;
  }
  
  &__link {
    padding: 1rem;
      
    & :hover {
      color: $hover;
    }
  }
}

.header__nav__menu.open {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $main-grey;
  padding: 5rem 1rem;
  height: 100vh;

  @include mobile-only{
    padding: 5rem 0;
    font-size: .9rem;
  }
}


// BURGER MENU
.menu__burger, .menu__burger__close {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 2rem;

    @include mobile-only{
      font-size: 1.5rem;
      top: .5rem;
      right: 1rem;
    }
}

.menu__burger {
  display: none;

  @include landscape-mobile{
    display: block;
  }
}

.menu__burger__close {
  display: none;
  z-index: 1;
}