/* BASIC STYLE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

body {
  background-color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

li {
  list-style: none;
}

/* TYPOGRAPHY */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
}

/* HEADER */
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #3E4E5C;
  font-weight: 500;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1919.98px) {
  header {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 991.98px) {
  header {
    background-color: initial;
  }
}
header .header__logo {
  height: 6.5rem;
}
@media only screen and (max-width: 1919.98px) {
  header .header__logo {
    height: 5rem;
  }
}
@media only screen and (max-width: 991.98px) {
  header .header__logo {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    height: 4.5rem;
  }
}
header .header__slogan p {
  display: inline;
}
@media only screen and (max-width: 1919.98px) {
  header .header__slogan p {
    display: block;
  }
}
@media only screen and (max-width: 991.98px) {
  header .header__slogan {
    display: none;
  }
}

/* NAVIGATION */
.header__nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
@media only screen and (max-width: 991.98px) {
  .header__nav__menu {
    display: none;
  }
}
@media only screen and (max-width: 1919.98px) {
  .header__nav__menu {
    text-transform: capitalize;
  }
}
.header__nav__menu__link {
  padding: 1rem;
}
.header__nav__menu__link :hover {
  color: #9BC4E8;
}

.header__nav__menu.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3E4E5C;
  padding: 5rem 1rem;
  height: 100vh;
}
.menu__burger, .menu__burger__close {
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.menu__burger {
  display: none;
}
@media only screen and (max-width: 991.98px) {
  .menu__burger {
    display: block;
  }
}

.menu__burger__close {
  display: none;
  z-index: 1;
}

/* HERO */
#hero {
  position: relative;
  top: 0;
  height: 100vh;
}
#hero .movie_summary {
  position: absolute;
  top: 12vh;
  left: 3rem;
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#hero .movie_summary__title {
  font-weight: 600;
  font-size: 5rem;
  text-shadow: #000 0.2rem 0.2rem 0.2rem;
}
@media only screen and (max-width: 1919.98px) {
  #hero .movie_summary__title {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  #hero .movie_summary__title {
    font-size: 3.5rem;
  }
}
@media only screen and (max-width: 991.98px) {
  #hero .movie_summary__title {
    font-size: 2.5rem;
  }
}
#hero .movie_summary .movie_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0 2rem 0;
}
#hero .movie_summary__long_description {
  text-shadow: #000 0.2rem 0.2rem 0.2rem;
  font-size: 1.5rem;
}
@media only screen and (max-width: 1919.98px) {
  #hero .movie_summary__long_description {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  #hero .movie_summary__long_description {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 991.98px) {
  #hero .movie_summary__long_description {
    padding: 0 0;
    font-size: 0.9rem;
  }
}
#hero .movie_card {
  overflow: hidden;
}
#hero .movie_card img {
  opacity: 0.3;
  z-index: -1;
}

/* CATEGORIES */
#categories {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10rem;
}
@media only screen and (max-width: 1919.98px) {
  #categories {
    padding-top: 8rem;
  }
}
@media only screen and (max-width: 991.98px) {
  #categories {
    padding-top: 3rem;
  }
}
#categories .category {
  padding-bottom: 5rem;
}
@media only screen and (max-width: 1919.98px) {
  #categories .category {
    padding-bottom: 3rem;
  }
}
@media only screen and (max-width: 991.98px) {
  #categories .category {
    padding-bottom: 2rem;
  }
}
#categories h2 {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 3rem;
  font-size: 2rem;
}
@media only screen and (max-width: 1919.98px) {
  #categories h2 {
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 991.98px) {
  #categories h2 {
    text-transform: none;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }
}

/* FOOTER */
footer {
  width: 100%;
  height: 6vh;
  background-color: #3E4E5C;
  text-align: center;
  font-weight: 500;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1919.98px) {
  footer {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  footer {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 991.98px) {
  footer {
    background-color: initial;
  }
}
@media only screen and (max-width: 767.98px) {
  footer {
    font-size: 0.9rem;
  }
}
footer p {
  padding-top: 1rem;
}
@media only screen and (max-width: 1919.98px) {
  footer p {
    padding-top: 0.8rem;
  }
}

/* BUTTON */
button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  border: none;
  background-color: #3E4E5C;
  font-family: "Poppins", sans-serif;
  color: #fff;
  cursor: pointer;
  margin-right: 1.5rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
}
@media only screen and (max-width: 1919.98px) {
  button {
    margin-right: 1.5rem;
    padding: 0.5rem 1.1rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 991.98px) {
  button {
    margin-right: 1rem;
    padding: 0.4rem 0.9rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 767.98px) {
  button {
    margin-right: 0.5rem;
    padding: 0.3rem 0.5rem;
    font-size: 0.5rem;
  }
}
button:hover {
  color: #9BC4E8;
}
button i {
  margin-right: 0.7rem;
}
@media only screen and (max-width: 1919.98px) {
  button i {
    margin-right: 0.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  button i {
    margin-right: 0.3rem;
  }
}

/* MOVIE CARD */
.movie_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movie_card img {
  width: 100%;
}

/* MODAL */
.movie_modal {
  position: fixed;
  z-index: 1;
  top: 20vh;
  height: 70vh;
  width: 70vw;
  left: 15vw;
  border-radius: 15px;
  overflow: auto;
  background-color: #D5E6F5;
  color: #2c3842;
}
@media only screen and (max-width: 1919.98px) {
  .movie_modal {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .movie_modal {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 991.98px) {
  .movie_modal {
    top: 15vh;
    width: 80vw;
    left: 10vw;
  }
}
.movie_modal__header {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  width: 100%;
  padding: 0rem 1rem;
  background-color: #718EA8;
  font-weight: 600;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1919.98px) {
  .movie_modal__header {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .movie_modal__header {
    font-size: 1rem;
  }
}
.movie_modal__header .movie_modal__close {
  font-size: 1.9rem;
}
@media only screen and (max-width: 1919.98px) {
  .movie_modal__header .movie_modal__close {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .movie_modal__header .movie_modal__close {
    font-size: 1.5rem;
  }
}
.movie_modal__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.movie_modal__summary__long_description {
  padding: 0.5rem 1rem;
  font-weight: 600;
}
.movie_modal__infos > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: #718EA8 1px solid;
  padding: 0.5rem 1rem;
}
.movie_modal__infos__title {
  font-weight: 600;
  padding-right: 0.5rem;
}
.movie_modal__time_infos {
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 4rem;
  width: 100%;
  padding: 0rem 1rem;
  background-color: #718EA8;
  font-weight: 600;
  font-size: 1.3rem;
}
@media only screen and (max-width: 1919.98px) {
  .movie_modal__time_infos {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .movie_modal__time_infos {
    font-size: 1rem;
  }
}
.movie_modal__time_infos .movie_modal__close {
  font-size: 1.9rem;
}
@media only screen and (max-width: 1919.98px) {
  .movie_modal__time_infos .movie_modal__close {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .movie_modal__time_infos .movie_modal__close {
    font-size: 1.5rem;
  }
}

/* CAROUSEL */
.carousel__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.carousel__wrapper .fa-angle-right, .carousel__wrapper .fa-angle-left {
  font-size: 4rem;
  cursor: pointer;
}
@media only screen and (max-width: 1919.98px) {
  .carousel__wrapper .fa-angle-right, .carousel__wrapper .fa-angle-left {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .carousel__wrapper .fa-angle-right, .carousel__wrapper .fa-angle-left {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 991.98px) {
  .carousel__wrapper .fa-angle-right, .carousel__wrapper .fa-angle-left {
    font-size: 2rem;
  }
}
.carousel__wrapper .carousel {
  padding: 0 2.5rem;
}
@media only screen and (max-width: 1919.98px) {
  .carousel__wrapper .carousel {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 1279.98px) {
  .carousel__wrapper .carousel {
    padding: 0 0.7rem;
  }
}
.carousel__wrapper .carousel .carousel-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 848px;
  overflow: hidden;
}
@media only screen and (max-width: 1919.98px) {
  .carousel__wrapper .carousel .carousel-items {
    gap: 20px;
    max-width: 788px;
  }
}
@media only screen and (max-width: 1279.98px) {
  .carousel__wrapper .carousel .carousel-items {
    gap: 10px;
    max-width: 758px;
  }
}
.carousel__wrapper .carousel .carousel-items .movie_card {
  width: 182px;
  height: 268px;
}
@media only screen and (max-width: 991.98px) {
  .carousel__wrapper .carousel .carousel-items .movie_card {
    width: 130px;
    height: 191px;
  }
}