/* CAROUSEL */

.carousel__wrapper {
  display: flex;
  align-items: center;

  i {
    font-size: 3rem;
    cursor: pointer;
  }

  .carousel {
    margin: 0 1rem;
    padding: 1rem;

    .carousel-items {
      display: flex;
      gap: 24px;
      justify-content: flex-start;
      max-width: 800px;
      overflow: hidden;

      .movie_card {
        width: 182px;
        height: 268px;
        
      }
    }
  }
}