/* CAROUSEL */

.carousel__wrapper {
  display: flex;
  align-items: center;

  i {
    font-size: 3rem;
    cursor: pointer;
  }

  .carousel {
    padding: 1rem;

    .carousel-items {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      max-width: 788px;
      overflow: hidden;

      .movie_card {
        width: 182px;
        height: 268px;
      }
      .movie_modal {
        &__header {
          font-size: 1.3rem;

          i {
            font-size: 1.9rem;
          }
        }
      }
    }
  }
}