/* CAROUSEL */

.carousel__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .fa-angle-right, .fa-angle-left {
    font-size: 4rem;
    cursor: pointer;

    @include laptop{
      font-size: 3rem;
    }
    @include tablet{
      font-size: 2.5rem;
    }
    @include landscape-mobile{
      font-size: 2rem;
    }
    @include mobile-only{
      display: none;
    }
  }

  .carousel {
    padding: 0 2.5rem;

    @include laptop{
      padding: 0 1.5rem;
    }
    @include tablet{
      padding: 0 .7rem;
    }

    .carousel-items {
      display: flex;
      gap: 40px;
      justify-content: flex-start;
      max-width: 848px;
      overflow: hidden;

      @include laptop{
        gap: 20px;
        max-width: 788px;
      }
      @include tablet{
        gap: 10px;
        max-width: 758px;
      }
      @include mobile-only{
        display: grid;
        grid-template-columns: 130px 130px;
        
      }

      .movie_card {
        width: 182px;
        height: 268px;

        @include landscape-mobile{
          width: 130px;
          height: 191px;
        }
      }
    }
  }
}