/* MODAL */

.movie_modal {
  position: fixed;
  z-index: 1;
  top: 20vh;
  max-height: 80%;
  width: 70vw;
  left: 15vw;
  border-radius: 15px;
  overflow: auto;
  background-color: $modal-background;
  color: $modal-text;

  @include laptop{
    top: 15vh;
    width: 80vw;
    left: 10vw;
    font-size: 1rem;
  }
  @include tablet{
    font-size: .9rem;
  }
  @include landscape-mobile{
    font-size: .8rem;
  }

  &__header {
    @include modal-header-footer;
  }
  &__summary {
    display: block;

    img{
      float: left;
      padding-right: .5rem;
      margin-bottom: .5rem;

      @include landscape-mobile{
        width: 120px;
      }
    }
    
    &__long_description {
      padding: .5rem 1rem;
      font-weight: 600;
      
      @include mobile-only{
        padding: .3rem .5rem;
      }
    }
  }
  &__infos {
    > div {
      display: flex;
      float: none;
      clear: both;
      border-top: #718EA8 1px solid;
      padding: .5rem 1rem;

      @include mobile-only{
        padding: .3rem .5rem;
      }
    }
    &__title {
        font-weight: 600;
        padding-right: .5rem;

        @include mobile-only{
          padding-right: .3rem;
        }
    }
  }
  &__time_infos {
    @include modal-header-footer;
  }
}