/* BASIC STYLE */

// ALL
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

// BODY
body {
  background-color: $black;
}

// LINKS
a {
  color: $white;
  text-decoration: none;
}


// LIST ELEMENTS
 li {
  list-style: none;
}