/* BASIC STYLE */

// AFFICHAGE PAR DEFAUT (streaming) : Ordinateurs et écran de tout type (entre 992 px et 1199 px)

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: $color-black;
}

li {
  list-style: none;
}

a {
  color: $color-white;
  text-decoration: none;
}